# Data Preparation, Exploratory Data Analysis, and Visualization

In [2]:
import matplotlib
import pandas
import plotly
import scipy
import seaborn

In [4]:
mpg = pandas.read_csv("https://raw.githubusercontent.com/tidyverse/ggplot2/master/data-raw/mpg.csv")
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB

In [9]:
mpg.select_dtypes('number').columns

Index(['displ', 'year', 'cyl', 'cty', 'hwy'], dtype='object')

In [8]:
mpg['cty2interval'] = pandas.cut(mpg['cty'], bins=2) # equal interval discretization
mpg['cty2interval'].value_counts()

(8.974, 22.0]    216
(22.0, 35.0]      18
Name: cty2interval, dtype: int64

In [7]:
mpg['cty2freq'] = pandas.qcut(mpg['cty'], q=2, labels=['low', 'high']) # equal frequency discretization
mpg['cty2freq'].value_counts()

low     132
high    102
Name: cty2freq, dtype: int64

In [12]:
obj_col = mpg.select_dtypes('object').columns
for col in obj_col:
    print(f"{col} has {mpg[col].nunique()} unique values")
    
pandas.concat([pandas.get_dummies(mpg['drv']), mpg['drv']], axis=1)

manufacturer has 15 unique values
model has 38 unique values
trans has 10 unique values
drv has 3 unique values
fl has 5 unique values
class has 7 unique values

     4  f  r drv
0    0  1  0   f
1    0  1  0   f
2    0  1  0   f
3    0  1  0   f
4    0  1  0   f
..  .. .. ..  ..
229  0  1  0   f
230  0  1  0   f
231  0  1  0   f
232  0  1  0   f
233  0  1  0   f

[234 rows x 4 columns]